.cta {
  max-width: 100vw;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14rem;
}

.content {
  width: 50%;
}

.h2 {
  font-size: 3.2rem;
  font-family: "Comic Sans";
  font-weight: bold;
  margin-bottom: 2.4rem;
  line-height: 1.3;
}

.p {
  font-family: "Roboto";
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 4.8rem;
}

.imageContainer {
  max-width: 35rem;
  overflow-x: hidden;
  align-self: end;
}

.image {
  max-width: 100%;
  display: block;
}

.btn {
  &:last-child {
    margin-left: 1.2rem;
    background-color: var(--color-white);
    color: #000;
  }
}
