.header {
  width: 100vw;
  height: 100vh;
  position: relative;
  max-width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 1)
  );
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  color: var(--color-white);
  text-align: center;
  font-family: "Roboto";
  font-size: 3.6rem;
}

.h1 span {
  display: block;
}

.h1 span:not(:last-child) {
  margin-bottom: 2.4rem;
}

.name {
  font-family: "Comic Sans";
  font-size: 4.8rem;
}

.arrowContainer {
  position: absolute;
  bottom: 2.4rem;
  cursor: pointer;
}

.arrow {
  display: inline-block;
  fill: #fff;
}
